<!-- <!doctype html>
<html>
<head>
  <title>A Compliment</title>
</head>
<body>
    Hi {{ person }}! I think you're {{ compliment }}!<br>
    <form action="/game">
    Do you wan't to play Madlibs? 
        <input type="radio" name="decision" value="yes"> Yes </input>
        <input type="radio" name="decision" value="no"> No </input>
        <input type="submit" value="submit"></input>
    </form>
</body>
</html> -->

{% extends 'base.html' %}
{% block title %}A Compliment{% endblock %}

{% block content %}
<p>Hi {{ person }}! I think you're {{ compliment }}!</p><br>
    <form action="/game">
    Do you wan't to play Madlibs? 
        <input type="radio" name="decision" value="yes"> Yes </input>
        <input type="radio" name="decision" value="no"> No </input>
        <input type="submit" value="submit" class="submit"></input>
    </form>
{% endblock %}